html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
  padding: 0 20px;
}

button,
.btn,
input:not([type="range"]),
textarea,
.fileUpload {
  padding: 7px 10px;
  width: 100%;
  max-width: 320px;
  border: none;
  resize: none;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  color: $black;
  font-weight: 600;
  &::placeholder {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.315);
  }
}
button {
  border: none;
  background-color: #3498db;
  color: white;
}
.btn {
  border: none;
  color: white;
  text-align: center;
  background-color: #3498db;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn__delete {
  padding: 7px 10px;
  background-color: $dark-red;
}
button,
input[type="submit"] {
  cursor: pointer;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
