.header {
  background-color: rgba(253, 253, 253, 0.808);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: rgba(253, 253, 253, 0.973);
  }
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.048), 0 3px 6px rgba(0, 0, 0, 0.068);
  .header__wrapper {
    padding: 11px 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3.5fr 1.5fr 1.5fr;
    align-items: center;
    .header__column {
      a {
        display: flex;
        align-items: center;
        color: rgba(245, 0, 0, 0.712);
        i {
          font-size: 35px;
        }
        .header__column--title {
          font-size: 17px;
          margin-left: 10px;
          padding-top: 2.5px;
          color: rgba(0, 0, 0, 0.671);
          font-weight: 600;
        }
      }

      &:nth-child(2) {
        justify-self: flex-start;

        form {
          background-color: rgba(230, 230, 230, 0.568);
          border-radius: 4px;
          display: flex;
          align-items: center;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.058),
            0 2px 2px rgba(0, 0, 0, 0.058);
          padding: 1px;
          margin-left: 60px;
          &:active {
            input {
              width: 320px;
            }
          }
          input {
            width: 100%;
            width: 340px;
            font-size: 13px;
            color: rgba(0, 0, 0, 0.637);
            font-weight: 500;
            background-color: rgba(255, 255, 255, 0);
            transition: width 0.3s linear;
            &::placeholder {
              transition: 0.5s linear;
            }
            &:focus {
              width: 340px;
              &::placeholder {
                font-weight: 500;
                color: rgba(0, 0, 0, 0.432);
              }
            }
          }
          .search__button {
            background: transparent;
            padding: 5px;
            width: 40px;
            i {
              color: black;
              font-size: 11px;
              opacity: 0.6;
              cursor: pointer;
              transition: 0.1s ease-in-out;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
      &:nth-child(3) {
        display: flex;
        justify-self: center;
        align-items: center;
        img {
          width: 25px;
          height: 25px;
          border-radius: 10px;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.226),
            0 2px 2px rgba(0, 0, 0, 0.308);
          transition: transform 0.2s linear;
          &:hover {
            transform: scale(1.05, 1.05);
          }
        }
        span {
          margin-left: 10px;
          color: rgba(0, 0, 0, 0.623);
          font-weight: 600;
        }
      }
      &:last-child {
        justify-self: end;
        ul {
          display: flex;

          font-weight: 700;
          text-transform: uppercase;
          li a {
            color: black;
            opacity: 0.6;
            transition: 0.4s ease-in-out;
            &:hover {
              opacity: 1;
            }
          }
          li:not(:last-child) {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
.header__space {
  margin-bottom: 100px;
}
