.videoPlayer {
  position: relative;
  width: 100%;

  video {
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.281),
      0 10px 20px rgba(0, 0, 0, 0.192);
  }
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  .videoPlayer__controls {
    display: grid;
    opacity: 0;
    transition: opacity 0.3s linear;
    grid-template-rows: 20px 40px;
    grid-template-columns: repeat(3, 1fr);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.199);
    padding: 0 10px;
    position: absolute;
    width: 100%;
    bottom: 3px;
    i {
      cursor: pointer;
      opacity: 0.8;
      transition: transform 0.1s linear, opacity 0.3s linear;
      transform: scale(1);
      transform-origin: 50% 50%;
      transform-box: fill-box;
      &:hover {
        transform: scale(1.2);
        transform-origin: 50% 50%;
        opacity: 1;
      }
    }
    .videoPlayer__column {
      font-weight: 300;
      color: white;
      align-self: center;
      &:first-child {
        grid-column: 1 / span 3;
        grid-row: 1 / span;
        padding-left: 40px;
        input {
          width: 100%;
        }
      }
      &:nth-child(2) {
        justify-self: left;
        font-size: 16px;
        display: flex;
        align-items: center;

        .videoPlayer-volume {
          margin-right: 10px;
          input {
            transform: rotate(-90deg);
            opacity: 0;
            top: -35px;
            left: -15px;
            width: 80px;
            position: absolute;
          }
          &:hover {
            input {
              opacity: 1;
            }
          }
          span {
            font-size: 25px;
          }
        }
        .videoPlayer-time {
          padding-top: 2px;
        }
      }
      &:nth-child(3) {
        justify-self: center;
        font-size: 25px;
      }
      &:nth-child(4) {
        font-size: 25px;
        justify-self: right;
      }
    }
  }
}
