extends layouts/main
include mixins/videoBlock

block content
        each item in videos
            +videoBlock({
                id : item.id,
                title : item.title,
                fileUrl : item.fileUrl,
                views : item.views                
            })
            


