extends layouts/main
include mixins/videoBlock

block content
    .home-videos

        .videos__title
            span 최신 순
        .videos__latestVideos        
   
            each item in videos.slice(0,5)
                 +videoBlock({
                    id : item.id,
                    title : item.title,
                    fileUrl : item.fileUrl,
                    views : item.views ,  
                    creatorName : item.creator.name,
                    avatarUrl : item.creator.avatarUrl,
                    duration : item.duration,     
                    creatorId : item.creator.id                        
                })
                       

        .videos__title
            span 댓글 순
        .videos__commentsSorted
            - const videos_comments_sorted = videos.sort(function (a, b) { return a.comments.length > b.comments.length ? -1: a.comments.length < b.comments.length? 1: 0;});
            each item in videos_comments_sorted
                +videoBlock({
                    id : item.id,
                    title : item.title,
                    fileUrl : item.fileUrl,
                    views : item.views ,  
                    creatorName : item.creator.name,
                    avatarUrl : item.creator.avatarUrl,
                    duration : item.duration,
                    creatorId : item.creator.id       

           
                })

        .videos__title
            span 많이 본 비디오 
        .videos__viewsSorted   
            - const videos_views_sorted = videos.sort(function (a, b) {return a.views > b.views ? -1 : a.views < b.views ? 1 : 0;});
            each item in videos_views_sorted
                +videoBlock({
                    id : item.id,
                    title : item.title,
                    fileUrl : item.fileUrl,
                    views : item.views ,  
                    creatorName : item.creator.name,
                    avatarUrl : item.creator.avatarUrl,
                    duration : item.duration,
                    creatorId : item.creator.id                    
                })
