extends layouts/main
include mixins/videoBlock

block content
        .user-profile  
                .user-profile__header    
                        img.avatar(src=loggedUser.avatarUrl)
                        h3.profile__username=loggedUser.name
