extends layouts/main
include mixins/videoBlock
block content
    //- -const s = document.getElementById("range");    
    //- -console.log(s)
    .home-videos#home

        .videos__title
            span 업로드
            .select

                select(name="range", id = "range", onchange="location.href=this.value")
                    option(value="" selected) 정렬   
                    option(value=`/`) 날짜순
                    option(value=`/range-views`) 조회수
                    option(value=`/range-comments`) 댓글순
             
        .videos__latestVideos        
              

            
            //- -console.log(select);
            each item in videos
                +videoBlock({
                    id : item.id,
                    title : item.title,
                    fileUrl : item.fileUrl,
                    views : item.views ,  
                    creatorName : item.creator.name,
                    avatarUrl : item.creator.avatarUrl,
                    duration : item.duration,     
                    creatorId : item.creator.id,
                    createdAt : item.createdAt,
                    totalComments:item.totalComments
                })
                       
        //- .videos__title
        //-     span Popular Videos
        //- .videos__viewsSorted   
        //-     each item in videos_view_sorted
        //-         +videoBlock({
        //-             id : item.id,
        //-             title : item.title,
        //-             fileUrl : item.fileUrl,
        //-             views : item.views ,  
        //-             creatorName : item.creator.name,
        //-             avatarUrl : item.creator.avatarUrl,
        //-             duration : item.duration,
        //-             creatorId : item.creator.id,
        //-             createdAt : item.createdAt,
        //-             totalComments:item.totalComments                    
        //-         })

                
        //- .videos__title
        //-     span Most Comments
        //- .videos__commentsSorted
            
        //-     each item in videos_totalComments_sorted
        //-         +videoBlock({
        //-             id : item.id,
        //-             title : item.title,
        //-             fileUrl : item.fileUrl,
        //-             views : item.views ,  
        //-             creatorName : item.creator.name,
        //-             avatarUrl : item.creator.avatarUrl,
        //-             duration : item.duration,
        //-             creatorId : item.creator.id,
        //-             createdAt : item.createdAt,
        //-             totalComments:item.totalComments       

           
        //-         })

        
