.video__comments {
  margin-top: 25px;
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  .comments__title {
    font-size: 25px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.253);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    .comments__number {
      justify-self: right;
      font-size: 16px;
      #jsCommentNum {
        font-size: 20px;
      }
    }
  }
  .comments__add {
    margin-bottom: 40px;
    width: 100%;
    .comment-form {
      display: grid;
      grid-template-columns: 0.3fr 5fr 1fr;
      align-items: center;
      img {
        align-items: baseline;
        width: 40px;
        height: 40px;
        border-radius: 16px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.089),
          0 3px 6px rgba(0, 0, 0, 0.349);
      }
      .comment-input {
        margin-left: 13px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.144);
        background-color: rgba(0, 0, 0, 0);
        font-size: 18px;
        padding-left: 4px;
        padding-bottom: 4px;
        font-weight: 500;
        border-radius: 0;
        width: 100%;
        max-width: 850px;
        transition: 0.5s ease-in-out;
        &::placeholder {
          transition: 0.5s ease-in-out;
        }
        &:focus {
          border-bottom: 1px solid rgba(0, 0, 0, 0.384);
          &::placeholder {
            opacity: 0;
          }
        }
      }
      .comment-input__button {
        margin-left: 10px;
        justify-self: end;
        width: 70px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.425);
        color: white;
        box-shadow: 0 5px 7px rgba(0, 0, 0, 0.062),
          0 5px 7px rgba(0, 0, 0, 0.075);

        &:active {
          background-color: rgba(0, 0, 0, 0.678);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.205),
            0 5px 7px rgba(0, 0, 0, 0.24);
        }
      }
    }
    .unLoggedIn-mention {
      font-size: 17px;
      font-weight: 600;
      opacity: 0.7;
    }
  }
  .video__comment-list {
    li {
      width: 100%;
      max-width: 850px;
      transition: 1s ease-in-out;
      background-color: rgba(0, 0, 0, 0.01);
      padding: 10px 12px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.04);
      opacity: 1;
      font-size: 18px;
      .comment-box {
        display: grid;
        grid-template-columns: 60px 6fr 70px 0.8fr;
        align-items: center;

        a {
          align-self: start;
          .comment-user__avatar {
            width: 47px;
            height: 47px;
            border-radius: 19px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2105),
              0 4px 6px rgba(0, 0, 0, 0.249);
            transition: 0.2s linear;
            &:hover {
              transform: scale(1.05, 1.05);
            }
          }
        }
        .comment__contnet-box {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 8px;
          align-self: start;
          padding-top: 5px;
          .comment__name-date-box {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            .comment-user__name {
              font-size: 0.8em;
              font-weight: 500;
              opacity: 0.8;
              margin-right: 10px;
            }
            .comment__date-box {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              font-size: 0.6em;
              font-weight: 600;
              opacity: 0.4;
              position: relative;
              &:hover {
                span:last-child {
                  display: inline-block;
                }
              }
              span {
                &:last-child {
                  text-align: right;
                  width: 200px;
                  position: absolute;
                  display: none;
                  right: -130px;
                }
              }
            }
          }

          .comment__text {
            font-size: 0.8em;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.55);
            word-break: break-all;
          }
        }
        .comment__subComment-btn {
          font-size: 0.6em;
          justify-self: end;

          opacity: 0.5;
          font-weight: 600;
          cursor: pointer;
        }
        .comment__option-box {
          justify-self: end;

          .comment__delete-box {
            justify-self: right;
            margin-right: 10px;
            color: rgba(44, 39, 39, 0.5);
            font-size: 0.9rem;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .subComment-box {
      margin-left: 50px;
      form {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        margin-top: 20px;
        .subComment__avatar {
          margin-right: 10px;
          width: 35px;
          height: 35px;
          border-radius: 14px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.089),
            0 3px 6px rgba(0, 0, 0, 0.349);
        }
        .subComment__input {
          border-bottom: 1px solid rgba(0, 0, 0, 0.144);
          background-color: rgba(0, 0, 0, 0);
          padding-left: 4px;
          padding-bottom: 5px;
          font-size: 0.7em;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.55);
          border-radius: 0;
          width: 100%;
          max-width: 850px;
          transition: 0.5s ease-in-out;
          &::placeholder {
            transition: 0.5s ease-in-out;
            font-size: 16px;
          }
          &:focus {
            border-bottom: 1px solid rgba(0, 0, 0, 0.384);
            &::placeholder {
              opacity: 0;
            }
          }
        }
        .comment-input__button {
          margin-left: 10px;
          width: 55px;
          height: 28px;
          font-size: 0.6em;
          background-color: rgba(0, 0, 0, 0.425);
          color: white;
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.062),
            0 5px 7px rgba(0, 0, 0, 0.075);

          &:active {
            background-color: rgba(0, 0, 0, 0.678);
            box-shadow: 0 5px 7px rgba(0, 0, 0, 0.205),
              0 5px 7px rgba(0, 0, 0, 0.24);
          }
        }
      }
      li {
        background-color: rgba(236, 236, 236, 0);
        border-radius: 10px;
        box-shadow: none;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.021);
        .comment-box {
          display: grid;
          grid-template-columns: 40px 6fr 80px;
          align-items: center;

          a {
            align-self: start;
            .comment-user__avatar {
              width: 35px;
              height: 35px;
              border-radius: 14px;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.205),
                0 3px 6px rgba(0, 0, 0, 0.349);
              transition: 0.2s linear;
              &:hover {
                transform: scale(1.05, 1.05);
              }
            }
          }
          .comment__contnet-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 8px;
            align-self: start;
            padding-top: 5px;
            .comment__name-date-box {
              .comment-user__name {
                font-size: 0.7em;
                font-weight: 500;

                opacity: 0.7;
              }
              .comment__date-box {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                font-size: 0.5em;
                opacity: 0.5;
                span:last-child {
                  top: -19px;
                }
              }
            }

            .comment__text {
              font-size: 0.7em;
              font-weight: 500;
              color: rgba(0, 0, 0, 0.55);
            }
          }
          .comment__subComment-btn {
            display: none;
          }
          .comment__option-box {
            .comment__delete-box {
              justify-self: right;
              color: rgba(44, 39, 39, 0.5);
              font-size: 0.9rem;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .video-Detail__container {
    .video__comments {
      .comments__add {
        .comment-form {
          width: 100%;
          img {
            width: 33px;
            height: 33px;
            border-radius: 13px;
          }
          .comment-input {
            width: 90%;
            font-size: 1em;
            font-weight: 400;
          }
          .comment-input__button {
            width: 50px;
            height: 28px;
            font-size: 0.8em;
          }
        }
      }
      .video__comment-list {
        li {
          .comment-box {
            grid-template-columns: 34px 4fr 50px 50px;

            a {
              align-self: start;
              .comment-user__avatar {
                width: 30px;
                height: 30px;
                border-radius: 12px;
              }
            }

            .comment__contnet-box {
              padding-left: 5px;
              padding-top: 3px;
              .comment__name-date-box {
                margin-bottom: 5px;
                padding-top: 1px;
                font-size: 0.4em;
                .comment-user__name {
                  margin-right: 10px;
                  font-size: 1.5em;
                  font-weight: 400;
                }
                .comment__date-box {
                  font-size: 1.1em;

                  span:last-child {
                    width: 200px;
                    top: 0px;
                    right: -120px;
                    font-size: 0.3em;
                  }
                }
              }
              .comment__text {
                font-size: 0.6em;
                font-weight: 400;
              }
            }
            .comment__subComment-btn {
              font-size: 0.5em;
            }
            .comment__option-box {
              .comment__delete-box {
                font-size: 0.6em;
              }
            }
          }
        }
        .subComment-box {
          form {
            .subComment__avatar {
              width: 25px;
              height: 25px;
              border-radius: 10px;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.089),
                0 3px 6px rgba(0, 0, 0, 0.349);
            }
            .subComment__input {
              font-size: 0.7em;
              font-weight: 500;

              max-width: 850px;

              &::placeholder {
                font-size: 14px;
              }
            }
          }
          li {
            .comment-box {
              display: grid;
              grid-template-columns: 27px 6fr 60px;
              align-items: center;

              a {
                align-self: start;
                .comment-user__avatar {
                  width: 24px;
                  height: 24px;
                  border-radius: 9.5px;
                }
              }
              .comment__contnet-box {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 8px;
                align-self: start;
                padding-top: 0px;
                .comment__name-date-box {
                  margin-bottom: 5px;
                  .comment-user__name {
                    font-size: 11px;
                    font-weight: 400;
                  }
                  .comment__date-box {
                    font-size: 0.9em;
                    span:last-child {
                      top: -15px;
                    }
                  }
                }

                .comment__text {
                  font-size: 0.6em;
                  font-weight: 400;
                  color: rgba(0, 0, 0, 0.55);
                }
              }

              .comment__option-box {
                .comment__delete-box {
                  font-size: 0.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
