.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
    input:not([type="file"]) {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 320px;
      padding: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    textarea {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-bottom: 20px;
    }
    input[type="submit"] {
      background-color: #3498dba1;
      font-weight: 600;
      font-size: 16px;
      color: white;
      transition: 0.2s linear;
      &:hover {
        background-color: #3498db;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.205),
          0 3px 5px rgba(0, 0, 0, 0.24);
      }
    }
    a {
      max-width: 320px;
      width: 100%;
      .btn.btn__delete,
      .btn.btn__changePassword {
        opacity: 0.7;
        transition: 0.2s linear;
        &:hover {
          opacity: 1;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.205),
            0 3px 5px rgba(0, 0, 0, 0.24);
        }
      }
    }
  }
}
