.videoPlayer {
  position: relative;
  width: 100%;

  video {
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.281),
      0 10px 20px rgba(0, 0, 0, 0.192);
  }
  // &:hover {
  //   .videoPlayer__controls {
  //     opacity: 1;
  //   }
  // }
  .videoPlayer__controls {
    display: grid;
    opacity: 1;
    transition: opacity 0.3s linear;
    grid-template-rows: 20px 40px;
    grid-template-columns: repeat(3, 1fr);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.199);
    padding: 0 10px;
    position: absolute;
    width: 100%;
    bottom: 3px;
    i {
      cursor: pointer;
      opacity: 0.8;
      transition: transform 0.1s linear, opacity 0.3s linear;
      transform: scale(1);
      transform-origin: 50% 50%;
      transform-box: fill-box;
      &:hover {
        transform: scale(1.2);
        transform-origin: 50% 50%;
        opacity: 1;
      }
    }
    .videoPlayer__column {
      font-weight: 300;
      color: white;
      align-self: center;
      &:first-child {
        grid-column: 1 / span 3;
        grid-row: 1 / span;
        padding-left: 40px;
        input {
          width: 100%;
        }
      }
      &:nth-child(2) {
        justify-self: left;
        font-size: 16px;
        display: flex;
        align-items: center;

        .videoPlayer-volume {
          margin-right: 10px;
          input {
            transform: rotate(-90deg);
            opacity: 0;
            top: -35px;
            left: -15px;
            width: 80px;
            position: absolute;
          }
          &:hover {
            input {
              opacity: 1;
            }
          }
          span {
            font-size: 25px;
          }
        }
        .videoPlayer-time {
          padding-top: 2px;
        }
      }
      &:nth-child(3) {
        justify-self: center;
        font-size: 25px;
      }
      &:nth-child(4) {
        font-size: 25px;
        justify-self: right;
      }
    }
  }
}

input[type="range"] {
  -webkit-appearance: none;
  overflow: hidden;
  width: 100%;
  height: 3px;
  background: transparent;
  cursor: pointer;
  background: #e5e4e35a;
  border-radius: 0; /* iOS */
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw #f9ca24;
  /* border: 0.1px solid #ffbe76; */
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .videoPlayer {
    .videoPlayer__controls {
      bottom: 190px;
      .videoPlayer__column {
        .videoPlayer-volume {
          font-size: 0.7rem;
        }
        .videoPlayer-time {
          margin-left: 10px;
          font-size: 0.8rem;
          span {
            display: flex;
          }
        }
      }
    }
  }
}
