.videoBlock {
  display: flex;
  flex-direction: column;
  &:hover {
    .videoBlock__info {
      .videoBlock__title-box {
        .videoBlock__duration {
          opacity: 1;
        }
      }
    }
  }
  .videoBlock__video-box {
    .my-video-dimensions {
    }
    video.video-js {
      background-color: rgb(0, 0, 0);
      width: 100%;
      height: 230px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.126), 0 3px 6px rgba(0, 0, 0, 0.208);
      transition: 0.3s ease-in-out;
      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.426),
          0 3px 6px rgba(0, 0, 0, 0.408);
        transform: translate(1px, -2px);
      }
    }
  }
  .videoBlock__info {
    margin-top: 10px;
    position: relative;
    .videoBlock__title-box {
      display: grid;
      grid-template-columns: 5fr 1.5fr;
      align-items: center;

      .videoBlock__title {
        color: rgba(0, 0, 0, 0.548);
        font-size: 1.2em;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover {
          color: rgba(0, 0, 0, 0.74);
        }
      }
      .dateDif {
        font-size: 10px;
        justify-self: flex-end;
        align-self: center;
        opacity: 0.7;
      }
      .videoBlock__duration {
        position: absolute;
        font-size: 13px;
        top: -40px;
        right: 0px;
        z-index: 100;
        padding: 3px;
        color: rgba(255, 255, 255, 0.89);
        background: rgba(0, 0, 0, 0.397);
        opacity: 0;
        transition: 0.2s ease-in-out;
      }
    }
    .videoBlock__meta-box {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      margin-top: 7px;
      .videoBlock__creator-box {
        display: flex;
        align-items: center;
        font-size: 0.9em;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.438);
        position: relative;

        .videoBlock__avatar {
          display: flex;
          align-items: center;
          img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-right: 5px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.126),
              0 3px 6px rgba(0, 0, 0, 0.208);
            transition: transform 0.2s linear;
            &:hover {
              transform: scale(1.05, 1.05);
            }
          }
        }
        .videoBlock__name {
          display: flex;
          align-items: center;
          padding-top: 2px;

          &:hover {
            color: rgba(0, 0, 0, 0.699);
          }
        }
        .seperator {
          font-size: 10px;
        }
      }
      .vidoeBlock__views {
        padding-top: 2px;
        &:hover {
          color: rgba(0, 0, 0, 0.699);
        }
      }
      .videoBlock__meta {
        justify-self: end;
        padding-top: 5px;

        .videoBlock__comments {
          display: flex;
          align-items: center;
          opacity: 0.5;
          font-size: 1.1em;
          transition: 0.3s ease-in-out;
          &:hover {
            opacity: 0.9;
          }
          .comments_num {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .videoBlock {
    .videoBlock__video-box {
      video.video-js {
        width: 100%;
        height: 240px;
        box-shadow: none;
        &:hover {
          box-shadow: none;
          transform: translate(0);
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .header__space {
    margin-bottom: 70px;
  }

  main {
    padding: 0px;

    .search__header {
      padding: 15px 20px;
    }
    .videos__title {
      padding: 10px 20px;
    }
    .user-porfile__title,
    .videos-title {
      padding: 15px 20px;
    }
    .home-videos,
    .search,
    .user-profile {
      .videoBlock {
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.126),
          0 6px 6px rgba(0, 0, 0, 0.108);
        border-bottom: 1px solid rgba(0, 0, 0, 0.144);
        padding-bottom: 25px;
        .videoBlock__info {
          margin-top: 20px;
          .videoBlock__duration {
            right: 5px;
            top: -48px;
            opacity: 1;
          }
        }

        .videoBlock__info {
          padding: 0 15px;
        }
      }
    }
    .video-Detail__container {
      padding: 0px 20px;
    }
  }
}

// .videoBlock {
//   // display: grid;
//   // grid-template-rows: 270px 100px;

//   width: 100%;

//   height: 0;
//   padding-bottom: 82%;
//   display: flex;
//   flex-direction: column;

//   // background-color: rgba(0, 0, 0, 0.568);
//   // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.058), 0 5px 10px rgba(0, 0, 0, 0.056);
//   overflow: hidden;
//   transition: 0.2s linear;
//   position: relative;

//   &:hover {
//     // transform: translateY(-8px);
//     .videoBlock__video-box {
//       // transform: scale(1.1, 1.1);
//     }
//     .videoBlock__duration {
//       opacity: 1;
//     }
//   }
//   .videoBlock__duration {
//     color: rgba(255, 255, 255, 0.904);
//     right: 0px;
//     bottom: 35%;
//     padding: 5px;
//     position: absolute;
//     background-color: rgba(0, 0, 0, 0.473);
//     transition: 0.1s linear;
//     z-index: 10000;
//     opacity: 0;
//   }
//   .videoBlock__video-box {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transition: 0.2s linear;
//     .videoBlock__thumnail {
//       width: 100%;

//       // position: absolute;
//       // top: 0px;
//       // bottom: 0px;
//       // left: 0px;
//       // right: 0px;

//       align-self: center;
//       justify-self: center;
//       transform: scale(1, 1);
//       transition: 0.2s linear;
//     }
//   }

//   .videoBlock__info {
//     width: 100%;

//     height: 0;
//     padding-top: 5%;
//     padding-left: 3%;
//     padding-right: 3%;
//     padding-bottom: 30%;

//     display: grid;
//     grid-template-columns: 1fr 6fr 1.7fr;
//     grid-template-rows: 1fr 1fr;

//     // padding: 10px 10px;
//     z-index: 100;
//     background-color: rgba(255, 255, 255, 0);
//     position: relative;
//     .videoBlock__content-box {
//       display: flex;
//       justify-self: center;
//       margin-bottom: 5px;
//       .videoBlock__avatar {
//         img {
//           width: 30px;
//           height: 30px;
//           border-radius: 10px;
//           box-shadow: 0 3px 6px rgba(0, 0, 0, 0.205),
//             0 3px 6px rgba(0, 0, 0, 0.192);
//           transition: 0.3s linear;
//           &:hover {
//             box-shadow: 0 3px 6px rgba(0, 0, 0, 0.205),
//               0 3px 6px rgba(0, 0, 0, 0.349);
//             transform: translateY(-2px) scale(1.04, 1.04);
//           }
//         }
//       }
//     }
//     .videoBlock__text-box {
//       display: flex;
//       flex-direction: column;
//       padding-left: 10px;
//       .videoBlock__title {
//         font-size: 1em;
//         margin-bottom: 5px;
//       }
//       .videoBlock__name {
//         font-size: 0.8em;
//         opacity: 0.7;
//       }
//     }

//     .vidoeBlock__views {
//       font-size: 10px;
//       font-weight: 600;
//       align-self: end;
//       justify-self: end;
//       grid-row: 2 / 3;
//       grid-column: span 3;
//       opacity: 0.6;
//     }
//   }
//   .dateDif {
//     font-size: 10px;
//     font-weight: 500;
//     opacity: 0.6;
//     justify-self: right;
//   }
// }
