.videoPlayer {
  position: relative;
  width: 100%;

  video {
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.281),
      0 10px 20px rgba(0, 0, 0, 0.192);
  }
  // &:hover {
  //   .videoPlayer__controls {
  //     opacity: 1;
  //   }
  // }
  .videoPlayer__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 1;
    transition: opacity 0.3s linear;
    // grid-template-rows: 20px 40px;
    // grid-template-columns: repeat(3, 1fr);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.365);
    padding: 0 10px;
    position: absolute;
    width: 100%;
    bottom: 3px;
    i {
      cursor: pointer;
      opacity: 0.8;
      transition: transform 0.1s linear, opacity 0.3s linear,
        padding 0.2s linear;
      transform: scale(1);
      transform-origin: 50% 50%;
      transform-box: fill-box;
      &:hover {
        transform: scale(1.1);
        transform-origin: 50% 50%;
        opacity: 1;
      }
    }
    .videoPlayer__column {
      font-weight: 300;
      color: white;
      // align-self: center;
      &:first-child {
        width: 100%;
        input {
          width: 100%;
        }
      }
      &:nth-child(2) {
        justify-items: left;
        margin-top: 10px;
        font-size: 16px;
        display: grid;
        width: 100%;
        grid-template-columns: 10% 31% 53% 6%;
        align-items: center;
        // justify-content: space-between;

        .videoPlayer-volume {
          // margin-right: 10px;
          justify-self: right;
          display: flex;
          align-items: center;
          // background-color: rgba(255, 255, 255, 0.153);
          padding: 7px 15px;
          border-radius: 17px;

          span {
            width: 25px;
            font-size: 20px;
            margin-left: 7px;
          }
          .volumeRange__wrapper {
            display: flex;
            align-items: center;
            transition: transform 0.3s linear, width 0.3s linear;
            border-radius: 10px;
            // background: rgba(255, 255, 255, 0.194);
            padding: 0;
            width: 0;
            input {
              width: 80px;
            }
          }
        }
        .videoPlayer-time {
          padding-top: 2px;
          font-size: 0.8rem;
          justify-self: left;
        }
        .videoPlayer-playBtn {
          justify-self: left;
          font-size: 20px;
          margin-left: 15px;
        }
        .videoPlayer-expandBtn {
          font-size: 25px;
          margin-right: 15px;
          justify-self: right;
        }
      }
    }
  }
}

input[type="range"] {
  -webkit-appearance: none;
  overflow: hidden;
  width: 100%;
  height: 4px;
  background: transparent;
  cursor: pointer;
  background: #e5e4e35a;
  border-radius: 0; /* iOS */
}
input[type="range"]:focus {
  outline: none;
  background-color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw #f9ca24;

  // border: 0.1px solid #ffbe76;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .videoPlayer {
    position: relative;
    width: 100%;

    video {
      width: 100%;
      height: 100%;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.281),
        0 10px 20px rgba(0, 0, 0, 0.192);
    }
    // &:hover {
    //   .videoPlayer__controls {
    //     opacity: 1;
    //   }
    // }
    .videoPlayer__controls {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      opacity: 1;
      transition: opacity 0.3s linear;
      // grid-template-rows: 20px 40px;
      // grid-template-columns: repeat(3, 1fr);
      height: 70px;
      background-color: rgba(0, 0, 0, 0.199);
      padding: 0 10px;
      position: absolute;
      width: 100%;
      bottom: 3px;
      i {
        cursor: pointer;
        opacity: 0.8;
        transition: transform 0.1s linear, opacity 0.3s linear,
          padding 0.2s linear;
        transform: scale(1);
        transform-origin: 50% 50%;
        transform-box: fill-box;
        &:hover {
          transform: scale(1.1);
          transform-origin: 50% 50%;
          opacity: 1;
        }
      }
      .videoPlayer__column {
        font-weight: 300;
        color: white;
        // align-self: center;
        &:first-child {
          width: 100%;
          input {
            width: 100%;
          }
        }
        &:nth-child(2) {
          justify-items: left;
          margin-top: 10px;
          font-size: 16px;
          display: grid;
          width: 100%;
          grid-template-columns: 10% 32% 50% 10%;
          align-items: center;
          // justify-content: space-between;

          .videoPlayer-volume {
            // margin-right: 10px;
            justify-self: right;
            display: flex;
            align-items: center;
            // background-color: rgba(255, 255, 255, 0.153);
            padding: 7px 15px;
            border-radius: 17px;

            span {
              width: 25px;
              font-size: 1.5em;
              margin-left: 7px;
            }
            .volumeRange__wrapper {
            }
          }
          .videoPlayer-time {
            font-size: 0.8em;
          }
          .videoPlayer-playBtn {
            font-size: 1.1em;
          }
          .videoPlayer-expandBtn {
            font-size: 1em;
          }
        }
      }
    }
  }
}
