.search {
  .search__header {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);

    h3 {
      font-size: 25px;
      font-weight: 500;
      font-style: oblique;
      opacity: 0.7;
    }
  }
  .search__videos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    .videoBlock {
      grid-column: span 4;
      video {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .search {
    .search__videos {
      .videoBlock {
        grid-column: span 6;
        video {
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .search {
    .search__videos {
      .videoBlock {
        grid-column: span 12;
        video {
        }
      }
    }
  }
}
