.form-container {
  .fileUpload__preview {
    width: 720px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.281),
      0 10px 20px rgba(0, 0, 0, 0.192);
    margin-bottom: 30px;
    position: relative;
    .videoPlayer {
      .my-video-dimensions {
        width: 100%;
        height: 412px;
      }
      .vjs-modal-dialog {
        display: none;
      }
    }
    .preview__label {
      cursor: pointer;
      opacity: 0.5;
      font-size: 40px;
      top: 145px;
      left: 245px;
      position: absolute;
      transition: 0.5s linear;
      &:hover {
        opacity: 1;
      }
    }
    .videoPlayer {
      opacity: 0;
    }
  }
  form {
    .fileUpload {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      background-color: #3498db00;
      input[type="file"] {
        display: none;
      }
      label {
        background-color: #24212075;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        font-weight: 600;
        font-size: 16px;
        color: white;
        padding: 10px;
        text-align: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        cursor: pointer;
        transition: 0.2s linear;
        &:hover {
          background-color: rgba(206, 34, 34, 0.685);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.205),
            0 3px 5px rgba(0, 0, 0, 0.24);
        }
      }
    }
    .file__info {
      opacity: 1;
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 128, 0, 0.212);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      border-radius: 7px;
      padding: 10px;
      margin: 10px 0;
      .file__name {
        word-break: break-all;
      }
      span:not(:last-child) {
        margin-bottom: 8px;
      }
      span {
        font-size: 15px;
        font-weight: 600;
        opacity: 0.8;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .form-container {
    .fileUpload__preview {
      width: 400px;
      .preview__label {
        cursor: pointer;
        width: 180px;
        opacity: 0.5;
        font-size: 2em;
        top: 75px;
        left: 127px;
        position: absolute;
        transition: 0.5s linear;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
