.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  margin-bottom: 50px;
  .user-porfile__title {
    width: 30%;
    color: rgba(0, 0, 0, 0.5);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.253);
    padding-bottom: 10px;
    margin-bottom: 50px;
    align-self: flex-start;
  }
  .user-profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .avatar-box {
      width: 180px;
      height: 180px;
      overflow: hidden;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.055),
        0 10px 20px rgba(0, 0, 0, 0.062);
      background-color: rgb(40, 38, 59);
      border-radius: 50px;
      transition: 0.5s ease-in-out;
      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.199),
          0 10px 20px rgba(0, 0, 0, 0.171);
        transform: translateY(-10px);
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .profile__username {
      font-size: 20px;
      margin-top: 17px;
    }
  }
  .user-profile__btns {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      width: 180px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      button {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
  .user-profile__videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    .videos-title {
      width: 30%;
      align-self: flex-start;
      color: rgba(0, 0, 0, 0.5);
      font-size: 27px;
      font-weight: 600;
      margin-bottom: 50px;
      border-bottom: 1.5px solid rgba(128, 128, 128, 0.253);
      padding-bottom: 10px;
    }
    .videos-container {
      width: 100%;

      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 30px;
      .videoBlock {
        width: 100%;
        grid-column: span 4;
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .user-profile {
    .user-porfile__title {
      width: 60%;

      font-size: 1.7em;
    }
    .user-profile__videos {
      .videos-title {
        width: 60%;

        font-size: 1.7em;
      }
      .videos-container {
        .videoBlock {
          width: 100%;
          grid-column: span 12;
        }
      }
    }
  }
}
